@import url(https://fonts.googleapis.com/css?family=Muli:300);

body {
    background-color:dimgrey;
    font-family: 'Muli', sans-serif;
    margin: 0;
}

#wrapper {
    background-color: dimgrey;
}

#wrapper h5 {
    width: 400px;
    margin: 20px auto 10px auto;

}

#header {
    /*border-bottom: 1px solid black;*/
    box-shadow: 1px 2px 5px 1px darkslategrey;
    width: 100%;
    height: 80px;
    /*background-color: darkgrey;*/
    background-color: orangered;

}

#header h1 {
    width: 10%;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#playersInfo {
    height: 100px;
}

#pongCanvas {
    border: 1px solid black;
    background-color: black;
    position:relative;
    display:block;
    margin:auto;
    /*left:20%;*/
    /*top: 100px;*/
}

#canvas {

}