<h1>Mobile template!</h1>
<p>This Example just print's the raw accelerometer and gyro data. Will return null if no device information is found.</p>
<p>gyro.getFeatures: <span id="features"></span></p>
<span id="example"></span>

<script src="../js/gyro.js"></script>
<script>
    var oldBeta, newBeta;
    gyro.startTracking(function(o) {
        var b = document.getElementById('example'),
                f = document.getElementById('features');
        f.innerHTML = gyro.getFeatures();
        b.innerHTML = "<p> x = " + o.x + "</p>" +
                "<p> y = " + o.y + "</p>" +
                "<p> z = " + o.z + "</p>" +
                "<p> alpha = " + o.alpha + "</p>" +
                "<p> beta = " + o.beta + "</p>" +
                "<p> gamma = " + o.gamma + "</p>";
        var motionData = {
            y: Math.round(o.y),
            z: Math.round(o.z),
            alpha: Math.round(o.alpha),
            beta: Math.min(Math.max(Math.round(o.beta), 0), 90),
            gamma: Math.round(o.gamma)
        };
        newBeta = motionData.beta;
        if(newBeta != oldBeta) {
            var socket = io();
            socket.emit("motionData", motionData);
        }
        oldBeta = motionData.beta;


        // console.log(motionData);
    });
</script>