<div id="index">
    <div data-role="content">
        <div class="remote">
            <div id="show-username"></div>

            <!--<div id="besturing">-->
                <!--<input type="radio" id="radio1" name="radio-mini" value="1" checked="checked">-->
                <!--<label for="radio1">Slide</label>-->
                <!--<input type="radio" id="radio2" name="radio-mini" value="2">-->
                <!--<label for="radio2">Rotation</label>-->
            <!--</div>-->

            <div id="besturing">
                <button class="button button-1 button-paddle button-active" name="radio-mini" value="1">Slide</button><!--
                --><button class="button button-2 button-paddle" name="radio-mini" value="2">Rotation</button>

                <button class="button" id="ready-button">Ready?</button>
            </div>
        </div>
        <div class="paddle"></div>
    </div>
</div>